<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Stok_Programı.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="StokTakip_Connection" connectionString="XpoProvider=MSSqlServer;data source=NFM-1\MSSQLSERVER01;integrated security=SSPI;initial catalog=StokTakip" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Stok_Programı.Properties.Settings>
            <setting name="dil" serializeAs="String">
                <value />
            </setting>
            <setting name="tema" serializeAs="String">
                <value />
            </setting>
            <setting name="serverip" serializeAs="String">
                <value />
            </setting>
            <setting name="kullaniciadi" serializeAs="String">
                <value />
            </setting>
            <setting name="sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="veritabani" serializeAs="String">
                <value />
            </setting>
            <setting name="fatura" serializeAs="String">
                <value />
            </setting>
        </Stok_Programı.Properties.Settings>
    </userSettings>
</configuration>
